name: AUR check update

on:
  push:
    branches:
      - master

jobs:
  check-update:
    runs-on: ubuntu-latest

    name: checker
    steps:
      - uses: actions/checkout@v2
      - name: Initialize submodules
        shell: bash
        run: |
          cd "$GITHUB_WORKSPACE"
          git fetch
          git submodule update --init
      - name: Set environments
        id: get_env
        shell: bash
        run: |
          git add .
          if [ ! -z "$(git --no-pager diff --staged)" ]; then
            git config --global user.name 'github-actions[bot]'
            git config --global user.email '<41898282+github-actions[bot]@users.noreply.github.com>'
            git commit -m "$(date +%Y%m%d%H%M)$(git diff --name-only | sed -e 's|^repo/|* |')" -a
            git push
          fi