name: Test pull request

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        job:
          - { os: ubuntu-latest }


    name: Build
    runs-on: ${{ matrix.job.os }}
    steps:
      - uses: actions/checkout@v2
      - shell: bash
        run: |
          touch $(date +%s)
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
